.listItem
  list-style: none
  margin: 0
  padding: 0

.progressBar
  height: 20px !important

.barColorPrimary
  background-color: #d1e9cf !important


.colorPrimary
  background-color: #EEEEEE !important
